* {
    -fx-font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    -fx-background-color: turquoise;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-color: black;
}

.selected {
    -fx-background-color: blue;
}

.mainMenu {
    -fx-background-color: #2384c6;
    -fx-background-image: url("/./Assets/BackgroundHigherRes.png");
    -fx-background-repeat: stretch;
    -fx-background-size: auto 100%;
    -fx-background-position: center center;
}