* {
    -fx-font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    -fx-background-color: turquoise;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-color: black;
}

.selected {
    -fx-background-color: blue;
}