* {
    -fx-font-family: "Lucida Console", "Courier New", monospace;
}

.button {
    -fx-background-color: turquoise;
    -fx-background-radius: 5px;
    -fx-text-fill: #ffffff;
    -fx-pref-width: 150px;
    -fx-pref-height: 30px;
}

.mainMenuButton {
    -fx-pref-width: 200px;
    -fx-pref-height: 50px;
}

.levelSelectButton {
    -fx-pref-width: 500px;
    -fx-pref-height: 50px;
}

.pauseButton {
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-color: black;
}

.selected {
    -fx-background-color: blue;
}

.mainMenu {
    -fx-background-color: #2384c6;
    -fx-background-image: url("/./Assets/BackgroundHigherRes.png");
    -fx-background-repeat: stretch;
    -fx-background-size: auto 100%;
    -fx-background-position: center center;
}

.gameBackground {
    -fx-background-color: #a7ec4b;
    -fx-background-position: center center;
}